html {
    font-size: 62.5%;
    box-sizing: border-box;
}
    
*,*:before, *:after {
    box-sizing: inherit;
}

:root {
    --primario: rgb(234, 205, 178);
    --blanco: #fff;
    --negro: #000;
    --fontFamily: 'Josefin Sans', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fontFamily)
}

body {
    width: 100%;
    background-image: url("../img/hero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/** CREACION DE ICONOS FLOTANTES **/


#checkbox__main {
    display: none;
}

.contenedor {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
}

.redes a, .icon-mas {
    display: block;
    text-decoration: none;
    color: var(--primario);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 .1rem 1rem rgba(0,0,0,0.5);
    transition: all 500ms ease;
    font-size: 3rem;
    margin: 0 auto;
}

.redes a:hover {
    color: rgb(219, 103, 26);
    background-color: rgb(234, 205, 178, 0.2);
}

.redes a {
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

#checkbox__main:checked~ .redes a {
    margin-bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.icon-mas:hover {
    color: rgb(219, 103, 26);
    background-color: rgb(234, 205, 178, 0.2);
}

.icon-mas {
    cursor: pointer;
    font-size: 3rem;
    line-height: 5.2rem;
}


/** CREACION ENCABEZADO **/


.header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    float: right;
    line-height: 7rem;
    margin-right: 4%;
}

.menu a {
    display: inline-block;
    padding: 2rem;
    line-height: normal;
    text-decoration: none;
    color: var(--primario);
    font-size: 2.5rem;
    transition: all .3s ease;
    border-bottom: .2rem solid transparent;
}

.menu a:hover {
    border-bottom: .2rem solid var(--primario)
}


/** CREACION CONTENIDO **/


.titulo {
    font-size: 3.5rem;
   
}

.texto {
    font-size: 2.3rem;
    line-height: 3rem;
}

.titulo,
.texto {
    color: var(--primario);
    margin: 2rem;
}

.presentacion,
.sobre_mi {
    width: 55%;
    padding: 4rem;
    margin: 22rem auto 9rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 3rem var(--negro);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
}


/** CREACION SECCION SOBRE MI **/


.imagen_sobre_mi img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.info_sobre_mi {
    color: var(--primario);
    font-size: 2.3rem;
    margin: 4rem auto;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
    line-height: 3rem;
}


/** CREACION DE PROYECTO **/


.caja__proyectos {
    width: 90%;
    height: 50rem;
    margin: 22rem auto;
    box-shadow: 0.3rem 0.3rem 3rem var(--negro);
    text-align: center;
    border-radius: 1.5rem
}

.caja__proyectos h2 {
    padding: 2rem;
    font-size: 3rem;
    font-family: 'Josefin Sans';
    color: var(--primario);
    font-weight: 700;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
}

.proyectos {
    display: flex;
    flex-direction: row;
    margin: 8rem auto;
    justify-content: center;
}

.proyecto {
    width: 30%;
}

.proyecto img {
    height: 17rem;
    width: 80%;
    border-radius: 1rem;
    cursor: pointer;
}

.proyecto:hover {
    transform: scale(1.2);
    transition: .5s;
}

.proyecto .subtitulo {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem;
    color: var(--primario);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
}

.proyecto .subtitulo:hover {
    transform: scale(1.2);
    transition: .3s;
}

/** CREACION DE CONTACTO **/


.caja {
    margin: 10rem 20rem;
}

.formulario {
    width: 80%;
    margin: 22rem auto;
    padding: 4rem;
    box-shadow: 0.3rem 0.3rem 3rem var(--negro);
    border-radius: 1.5rem
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--primario);
    text-shadow: .3rem .3rem .3rem var(--negro);
    border-bottom: .2rem solid var(--primario);
}

.campo {
    flex-basis: 0;
    flex-grow: 1;
}

.campo__fila {
    display: flex;
    margin-bottom: 3rem;
    gap: 5rem;
}

.campo label {
    display: block;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primario);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
}

.campo textarea {
    height: 5rem;
    color: var(--primario);
    resize: vertical;
    min-height: 5rem;
    max-height: 20rem;
    border: .2rem solid var(--primario);
}

.input-text {
    width: 100%;
    padding: 1rem;
    border: none;
    border-bottom: .2rem solid var(--primario);
    color: var(--primario);
    background: transparent;
    font-size: 2rem;
}

.campo__boton .boton {
    border: none;
    padding: 1rem;
    color: var(--primario);
    font-size: 2rem;
    font-weight: 700;
    border-radius: .5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--negro);
    background-color: rgb(234, 205, 178, 0.3);
    text-align: right;
}